<div ng-controller="FindTagsController as vm">

	<div class="well row">
		<span style="font-size: 25px;">
	 	Find Tags within a

	 	<select class="col-md-3 selectorBox" id="selector" ng-model="vm.distanceInMiles">
			<option>1</option>
			<option>2</option>
			<option selected>3</option>
			<option>4</option>
			<option>5</option>
		</select> 

		mile of your Current Location
		</span>
		<button ng-click="vm.refreshLocation()" class="btn btn-info searchButton col-md-3">Search! 
		</button>
	</div>

	<div id="map"></div>
	<!-- {{vm.displayPinArray}} -->
	<div ng-repeat="pin in vm.displayPinArray">


		<center>
			<h1>
				<div class="well">
					<p>{{pin.title}}</p>
					<h5>{{pin.desc}}</h5>
				</div>
				<img class="img-responsive"src="{{pin.img}}"><br>
				<button class="btn btn-info"ui-sref="PinInfo({id: pin._id})">View Tag</button>
			</h1>
		</center>
	</div>
</div>