<div  class="container-fluid">
	<div class="well">
		<center><p style="font-size: 25px;">{{vm.treeInfo.title}}</p></center>	
		<span>
			
		
		</span>
		<section class="block-body">
                    <div class="row">
                        
                        <div class="col-sm-4 blog-post">
                            <img src="{{vm.treeInfo.img3}}" class="img-responsive" style="width: 360px; height: 270px;">
                        
                        </div>
                      
                        <div class="col-sm-4 blog-post">
                            <img src="{{vm.treeInfo.img1}}" class="img-responsive" style="width: 360px; height: 270px;">
                        </div>

                        <div class="col-sm-4 blog-post">
                           	<img src="{{vm.treeInfo.img2}}" class="img-responsive" style="width: 360px; height: 270px;">
                        </div>
                    </div>
                </section>
		
	</div>
</div>
<div id="disqus_thread"></div>

<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>